<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myconnectsocketio">
    <!-- don't forget to put this line for internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- don't forget to put the name of the class in the application like the MySocketApplication-->
    <application
        android:name="com.example.myconnectsocketio.MySocketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyConnectSocketIO"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>
        <activity
            android:name=".RoomActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
    </application>

</manifest>